.btn-twitter {
  color: #55acee;
  outline: none;
  box-shadow: none;
}

h1 {
  font-size: 40px;
  font-weight: 500;
}

div.modal-body h2 {
  line-height: 25px;
}

div.modal-header button {
  outline: none;
}
