<div class="modal-header">
  <h4 class="modal-title">{{portfolioElement['ticker']}}</h4>
  <a type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">×</span>
  </a>
</div>
<form [formGroup]="myForm" (ngSubmit)="submitForm()">
  <div class="modal-body">
    <div class="container">
      <span>Current Price: {{portfolioElement['c']}}</span><br>
      <span>Money in Wallet: ${{money.toFixed(2)}}</span>
      <div class="form-inline">
        <label class="pr-2">Quantity </label>
        <input *ngIf="operationType == 'Sell'" (keyup)="checkStockError(sellValue.value)"
          (click)="checkStockError(sellValue.value)" type="number" class="form-control " min="1"
          [max]="portfolioElement['quantity']" formControlName="quantity" required #sellValue />
        <input *ngIf="operationType == 'Buy'" (keyup)="checkMoneyError(buyValue.value)"
          (click)="checkMoneyError(buyValue.value)" type="number" class="form-control mt-1" min="1" [max]="maxStock"
          formControlName="quantity" required #buyValue />
      </div>
      <p *ngIf="moneyError" class="pt-2" style="color:red">Not enough money in wallet!</p>
      <p *ngIf="stockError" class="pt-2" style="color:red">You cannot sell the stocks that you don't have!</p>
    </div>
  </div>
  <div class="modal-footer">
    <div class="w-100 m-0">
      <span class="pull-left pt-2 pl-2">Total : {{ (portfolioElement['c'] * myForm.get('quantity').value).toFixed(2)
        }}</span>
      <button class="btn btn-success float-right" [disabled]="!myForm.valid">
        {{operationType}}
      </button>
    </div>
  </div>
</form>